<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Accueil</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/gospel.css">
</head>

<body>

	<nav th:replace="~{fragments::navbar}"></nav>

	<div class="corps">

		<form method="post" class="formulaire" accept-charset="UTF-8">
			
			<h1>Rédiger un paragraphe</h1>

			<label>Titre</label>
    		<input type="text" placeholder="Titre du paragraphe" name="titre" required>

    		<label>Ordre</label>
            <input type="number" placeholder="n°" name="ordre" required>

    		<label>Rédiger l'article</label>
    		<textarea name="article" placeholder="Rédigez votre article (obligatoire)" required></textarea>


    		<label class="container">Page d'accueil
			    <input type="radio" checked="checked" name="radio" value="home" >
				<span class="checkmark"></span>
			</label>

			<label class="container">Page de contacts
			    <input type="radio" name="radio" value="contacter">
				<span class="checkmark"></span>
			</label>

    		<div class="groupe-boutons">
      			<button type="button" class="cancel" onClick="history.back()">Annuler</button>
      			<button type="submit" class="ok" >Ajout du paragraphe</button>
    		</div>

    	</form>

	</div>	

	<footer th:replace="~{fragments::footer}"></footer>

</body>

</html>