<!DOCTYPE html>
<html>
<head>
	<title>ajout-membre</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/gospel.css">
	<script src="js/main.js"></script>
</head>
<body>

	<nav class="navbar">

		<ul class="navlinks">

			<a class="bouton" href="home.html"><img src="icones/home.png" class="icone"><div>ACCUEIL</div></a>
			<a class="bouton" href="contacter.html"><img src="icones/phone.png" class="icone"><div>NOUS CONTACTER</div></a>
			<a class="bouton" href="concerts.html"><img src="icones/calendar.png" class="icone"><div>NOS CONCERTS</div></a>
			<a class="bouton" href="connexion.html"><img src="icones/gospel.png" class="icone"><div>ESPACE MEMBRE</div></a>

			<div class="dropdown-contenu">

				<a class="bouton" href=""><img src="icones/folder.png" class="icone"><div>FICHIERS</div></a>

					<div class="dropdown-menu">
						<a class="dropdown" href=""><img src="icones/lyrics.png" class="icone"><div>PAROLES</div></a>
						<a class="dropdown" href=""><img src="icones/camera.png" class="icone"><div>PHOTOS</div></a>
						<a class="dropdown" href=""><img src="icones/video.png" class="icone"><div>VIDÉOS</div></a>
						<a class="dropdown" href=""><img src="icones/microphone.png" class="icone"><div>ENREGISTREMENTS</div></a>
					</div>

			</div>

			<a class="bouton" href=""><img src="icones/wheel.png" class="icone"><div>GESTION</div></a>

		</ul>

	</nav>
	
	<div class="corps">

	<p th:if="${error != null}" th:text="${error}"></p>

		<form method="post" class="formulaire">
			
			<h1>Ajouter un choriste</h1>

			<label>Utilisateur</label>
    		<input type="text" placeholder="Entrez le pseudo du choriste" name="pseudo" required>

    		<label>Mot de passe</label>
    		<input type="password" placeholder="Définissez un mot de passe" name="mdp" required>

    		<label>Confirmez le mot de passe</label>
    		<input type="password" placeholder="Ressaisissez le mot de passe" name="confirm-mdp" required>
    		
			<label class="container">Membre
			    <input type="radio" checked="checked" name="radio" value="membre">
				<span class="checkmark"></span>
			</label>

			<label class="container">Administrateur
			    <input type="radio" name="radio" value="administrateur">
				<span class="checkmark"></span>
			</label>

    		<div class="groupe-boutons">
      			<button type="button" class="cancel">Annuler</button>
      			<button type="submit" class="ok">Ajout du choriste</button>
    		</div>


    	</form>

	</div>

	<footer>

		<p> Ce site a été créé par Quentin Lejour et Matthias Avinée, étudiants à HEI Lille. </p>

	</footer>	

</body>
</html>