
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/gos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <title>Ajouter un paragraphe | Esprit Gospel</title>
</head>

<body>
	<nav th:replace="~{fragments::navbar}"></nav>
    <div class="container mt-3">
        <h4>Ajouter un paragraphe</h4>
        <form method="post" class="mt-3">
            <div class="form-group">
                <label for="titre-para">Titre du paragraphe :</label>
                <input type="text" class="form-control" id="titre-para" name="titre">
            </div>
            <label for="poz-para">Position du paragraphe :</label>
            <div class="row">
                <div class="form-group col-sm-2">
                    <input type="number" class="form-control" id="poz-para" name="ordre" required>
                </div>
            </div>
            <div class="form-group">
                <label for="contenu-para">R&eacutedigez le contenu :</label>
                <textarea class="form-control" rows="5" id="contenu-para" name="article" required></textarea>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="home" name="radio" checked="checked">Page d'accueil
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="contacter" name="radio">Page de contacts
                </label>
            </div>
            <button type="submit" class="btn btn-primary form-group mt-3"><i class="fas fa-check-circle"></i>Envoyer</button>
        </form>
    </div>
</body>

</html>