<html>
<head>
    <title>concerts</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/gospel.css" rel="stylesheet">
    <script type="text/javascript" src="js/main.js"></script>
</head>
  
<body>

    <div class="corps">
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'London')">London</button>
            <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
        </div>

        <div id="London" class="tabcontent">
            <h3>London</h3>
            <p>London is the capital city of England.</p>
        </div>

        <div id="Paris" class="tabcontent">
            <h3>Paris</h3>
            <p>Paris is the capital of France.</p> 
        </div>

        <div id="Tokyo" class="tabcontent">
            <h3>Tokyo</h3>
            <p>Tokyo is the capital of Japan.</p>
        </div>
    </div>
   
   
   <hr width="30%">
   

    <div class="corps">
        <h6>Evénements passés</h6>
        <ul>
            <li>le 22/86 trop cool</li>
            <li>le 22/86 trop cool</li>
            <li>le 22/86 trop cool</li>
        </ul>
    </div>

    <footer>

        <p> Ce site a été créé par Quentin Lejour et Matthias Avinée, étudiants à HEI Lille. </p>

    </footer>

</body>
</html>