<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/gos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <title>Événements | Esprit Gospel</title>
</head>

<body>

    <nav th:replace="~{fragments::navbar}"></nav>

    <h4>Nos prochains concerts</h4>

















    <div class="corps">

    <h3>Evénement à venir</h3>

         <div class="center" th:if="${pseudoA!=null}">
                 <a class="btnvert" href="/administrateur/ajouterevenement"><img src="../icones/download.png"/>
                 Ajouter un événement</a>
         </div>


        <div th:each="evenement : ${evenements}">
            <a th:href="${'administrateur/modifierevenement?id='+evenement.id}">
                <img src="icones/edit.png" class="iconesparagraphe" th:if="${pseudoA!=null}"/>
            </a>
            <a th:href="${'administrateur/supprimerevenement?id='+evenement.id}">
                <img src="icones/close.png" class="iconesparagraphe" th:if="${pseudoA!=null}"/>
            </a>
        <button class="accordion" th:text="${evenement.nom}">
        </button>

        <div class="panel">
                <p>Adresse:<span th:text="${evenement.adresse}"></span></p>
                <p>Date:<span th:text="${evenement.date}" id="date"></span></p>
                <p>Prix:<span th:text="${evenement.prix}"></span>€</p>
                <p>Description:<span th:text="${evenement.description}"></span></p>
        </div>

    </div>

<hr width="40%">

<h3>Evénements passés</h3>

<div th:each="evenementpasse : ${evenementspasse}">

<span th:text="${evenementpasse.nom}"></span>
<span th:text="${evenementpasse.date}"></span>
    <a th:href="${'administrateur/modifierevenement?id='+evenementpasse.id}">
            <img src="icones/edit.png" class="iconesparagraphe" th:if="${pseudoA!=null}"/>
    </a>
    <a th:href="${'administrateur/supprimerevenement?id='+evenementpasse.id}">
            <img src="icones/close.png" class="iconesparagraphe" th:if="${pseudoA!=null}"/>
    </a>
</div>


</div>



<footer th:replace="~{fragments::footer}"></footer>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}

</script>


</body>
</html>