
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Fragments</title>
</head>
<body>

<nav class="navbar navbar-expand-md bg-light navbar-light border" th:fragment="navbar">
    <a class="navbar-brand" href="/home">
        <img src="../../img/logo.png" alt="Logo" class="img-fluid" style="max-width:120px;">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/contacter"><i class="fas fa-envelope"></i>Nous contacter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/evenement"><i class="far fa-calendar-alt"></i>Nos concerts</a>
            </li>
            <li class="nav-item" th:if="${pseudoM == null and pseudoA == null}">
                <a class="nav-link" href="/membre"><i class="fas fa-user"></i>Espace membre</a>
            </li>
            <li class="nav-item dropdown" th:if="${pseudoM != null or pseudoA != null}">
                <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">
                    <i class="fas fa-folder"></i>Fichiers
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/membre/albums-photos"><i class="fas fa-camera"></i>Photos</a>
                    <a class="dropdown-item" href="/membre/videos"><i class="fas fa-video"></i>Vid&eacuteos</a>
                    <a class="dropdown-item" href="/membre/liste-pdf"><i class="fas fa-file-alt"></i>Paroles</a>
                    <a class="dropdown-item" href="/membre/musiques"><i class="fas fa-microphone"></i>Enregistrements</a>
                </div>
            </li>
            <li class="nav-item" th:if="${pseudoA != null}">
                <a class="nav-link" href="/administrateur/gestion"><i class="fas fa-cog"></i>Gestion des membres</a>
            </li>
            <!-- On prend toutes les configurations possibles -->
            <li class="nav-item dropdown" th:if="${pseudoM != null and pseudoA == null}">
                <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown"><i class="fas fa-user"></i><span th:text="${#strings.capitalize(pseudoM)}"></span></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/deconnexion"><i class="fas fa-sign-out-alt"></i>D&eacuteconnexion</a>
                </div>
            </li>
            <li class="nav-item dropdown" th:if="${pseudoM == null and pseudoA != null}">
                <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown"><i class="fas fa-user"></i><span th:text="${#strings.capitalize(pseudoA)}"></span></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/deconnexion"><i class="fas fa-sign-out-alt"></i>D&eacuteconnexion</a>
                </div>
            </li>
            <li class="nav-item dropdown" th:if="${pseudoM != null and pseudoA != null}">
                <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown"><i class="fas fa-user"></i><span th:text="${#strings.capitalize(pseudoA)}"></span></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/deconnexion"><i class="fas fa-sign-out-alt"></i>D&eacuteconnexion</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>