<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Gestion</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/gospel.css" rel="stylesheet">
    <script src="../js/main.js"></script>
  </head>

  <body>

  <nav th:replace="~{fragments::navbar}"></nav>
    

<div class="center">
 <a class="btnvert" href="ajoutermembre"><img src="../icones/download.png"/>Ajouter un membre</a>
</div>


        <hr align="center"/>
  
        <h2 class="titre">Gestion des membres</h2>

        <hr align="center"/>


        <table id="membres">
              <tr>
                    <th>Membre</th>
                    <th>Mot de Passe</th>
                    <th>Rôle</th>
              </tr>
              <tr th:each="membre : ${membres}">
                    <td th:text="${membre.pseudo}"></td>
                    <td>***********</td>
                    <td th:text="${membre.role}">admin</td>
                    <td>
                          <a th:href="${'modifiermembre?id='+membre.id}">
                               <img src="../icones/edit.png">
                          </a>
                    </td>
                    <td>
                        <a th:href="${'supprimermembre?id='+membre.id}">
                            <img src="../icones/close.png">
                        </a>
                    </td>
              </tr>
        </table>

  <footer th:replace="~{fragments::footer}"></footer>


</body>
</html>