<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/gos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <title>Accueil | Esprit Gospel</title>
</head>

<body>

    <nav th:replace="~{fragments::navbar}"></nav>

    <div class="container mt-3">
            <div th:if="${pseudoA!=null}" class="text-center">
                <a href="/administrateur/ajouterarticle?ch=home"><button type="button" class="btn btn-success"><i class="fas fa-pencil-alt"></i>Ajouter un paragraphe</button></a>
            </div>

            <div class="container-fluid mt-3" th:each="paragraphe : ${paragraphes}">
                <h4>
                    <span th:text="${paragraphe.titre}"></span>
                    <a th:href="${'administrateur/modifierparagraphe?id='+paragraphe.idBalise}" style="margin-left: 6px;" th:if="${pseudoA!=null}"><i class="fas fa-edit"></i></a>
                    <a th:href="${'administrateur/supprimerparagraphe?id='+paragraphe.idBalise}" th:if="${pseudoA!=null}"><i class="fas fa-trash-alt text-danger"></i></a>
                </h4>
                <blockquote class="text-justify mt-3" th:text="${paragraphe.texte}"></blockquote>
            </div>
    </div>

</body>

</html>