<!DOCTYPE html>
<html xlang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>modification-mot-de-passe</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/gospel.css">
	<script src="../js/main.js"></script>
</head>
<body>

	<nav th:replace="~{fragments::navbar}"></nav>

	<div class="corps">

	<p th:if="${error != null}" th:text="${error}"></p>

		<form method="post" class="formulaire">

			<h1>Modifier le mot de passe de <span th:text="${membre.pseudo}"></span></h1>

    		<label>Mot de passe</label>
    		<input type="password" placeholder="Définissez un mot de passe" name="mdp" required>

    		<label>Confirmez le mot de passe</label>
    		<input type="password" placeholder="Ressaisissez le mot de passe" name="confirmMdp" required>

    		<div class="groupe-boutons">
      			<button type="button" class="cancel">Annuler</button>
      			<button type="submit" class="ok">Modification du mot de passe</button>
    		</div>

    	</form>

	</div>

	<footer th:replace="~{fragments::footer}"></footer>

</body>
</html>