<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Album exemple</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../css/gospel.css">
</head>
<body>

<nav th:replace="~{fragments::navbar}"></nav>

	<a th:href="${'/administrateur/ajouter-photos?id='+album.idAlbum}">Ajouter donc des photos</a>

	<h1 th:ref="${'album?id='+album.idAlbum}" th:text="${album.nomAlbum}"></h1>

	<div class="dispo-photos">

		<img th:each="photo:${photosList}" class="photo" th:src="'/membre/picture?id='+${photo.idPhoto}">

	</div>

</body>
</html>